.container-fluid
  .row
    .col-12.col-md-6.offset-md-3.mt-4
      .card.text-white.bg-dark
        .card-header
          %h1 Edit post
        .card-body
          = form_tag "#", method: 'put' do
            .form-group
              = label_tag "Author"
              = text_field_tag "post[author]", @post.author, class: "form-control"
            .form-group
              = label_tag "Content"
              = text_area_tag "post[content]", @post.content, class: "form-control"
            .form-group
              = submit_tag 'Save', class: "btn btn-primary"
              = link_to "Cancel", posts_path, class: "btn btn-danger"
