.container-fluid
  .row
    .col-12.col-md-6.offset-md-3
      %h1 Posts
      %a.btn.btn-danger{href: "#"} Back
      %a.btn.btn-primary{href: "#"} New post
      %hr
      .list-group
        - if @posts.empty?
          .alert.alert-info There are no posts yet
        - else
          - @posts.reverse.each do |post|
            .list-group-item.list-group-item-info.list-group-item-action.mb-4
              .d-flex.justify-content-between
                %small.text-muted= post.author
                .links
                  %a{href: '#'} Read
                  |
                  %a{href: '#'} Edit
                  |
                  %a{href: '#'} Delete
              %p= post.content
