.container-fluid
  .row
    .col-12.col-md-6.offset-md-3.mt-4
      .card.text-white.bg-dark
        .card-header
          %h1="Post by #{@post.author}"
        .card-body
          %p=@post.content
          %h3 Comments
          - if @post.comments.empty?
            .alert.alert-info There are no comments in this post
          - else
            .list-group
              - @post.comments.each do |comment|
                .list-group-item.list-group-item-info
                  .d-flex.justify-content-between
                    %small=comment.author
                    %small
                      = link_to "Delete", "#"
                  %p=comment.content
          %h5 Leave a comment
          = form_tag "#" do
            .form-group
              = label_tag "Author"
              = text_field_tag "comment[author]", "", class: "form-control"
            .form-group
              = label_tag "Content"
              = text_area_tag "comment[content]", "", class: "form-control"
            .form-group
              = submit_tag 'Comment', class: "btn btn-light"
        .card-footer
          = link_to "Edit", "#", class: "btn btn-warning"
          = link_to "Delete", "#", class: "btn btn-danger"
          = link_to "Back", posts_path, class: "btn btn-primary"
